<!DOCTYPE html>
<html >
<head>
    <title>{% block title %}Flask Modular App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('auth.register') }}">Register</a>
        <a href="{{ url_for('users.user_list') }}">Users</a>
        <a href="{{ url_for('projects.project_list') }}">Projects</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
